<nav class="navbar navbar-light sticky-top" style="background-color: #7744A1">
  <form class="form-inline">
    <a [routerLink]="[ '/home' ]">
      <button type="button" class="btn btn-outline-light">Home</button>
    </a>
    <a [routerLink]="[ '/about' ]">
      <button type="button" class="btn btn-outline-light">About</button>
    </a>
  </form>
  <button type="button" class="btn btn-dark"><img src="http://www.herolo.co.il/assets/img/navbar/logo.png" alt="Herolo"
      height="100%" width="100%"></button>
</nav>