<div class="container">
    <div class="jumbotron " style="background-color: RGB(255,255,255,0)">
        <h6 class="display-4">About This Exercise</h6>
        <p class="lead">This application utilizes The Open Movie Database <a href="http://www.omdbapi.com/" target="_blank">(http://www.omdbapi.com/)</a>
            to gather useful information about movies.</p>
        <b>
            <p>Notes:</p>
        </b>
        <p>- I decided not to filter out numbers and certain non-alphanumeric characters ( : , . ). movie titles look
            better this way. most other characters (~@}...) are filtered using an angular 'pipe'.</p>
        <p>- a Movie 'id' represents it's current index on the 'movieList' array, and not it's 'imdbID' value from the
            database.</p>
        <p>- All input validation is happening on the component, not the HTML template.</p>
        <p>- I implemented some additional features inspired by the API abilities: 'Search' | 'Show More'.</p>
        <hr class="my-4">
        <p>Created by Maor Barazani, Sept. 2018</p>
        <a class="btn btn-light" href="https://www.linkedin.com/in/maor-barazani-55bba4169/" target="_blank" role="button"><i
                class="fab fa-linkedin-in fa-lg"></i></a>
        <a class="btn btn-light" href="https://github.com/Maorbarazani" target="_blank" role="button"><i class="fab fa-git fa-lg"></i></a>
    </div>
</div>


